	<div id="projects" class="portfolio">
		<div class="container">
			<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects & Certification</h3>
			<div class="sap_tabs">			
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list wow fadeInUp animated" data-wow-delay=".7s">
						<li class="resp-tab-item"><span>All</span></li>
						<li class="resp-tab-item"><span>Ruby On Rails </span></li>
						<li class="resp-tab-item"><span> Certification </span></li>
						<!-- <li class="resp-tab-item"><span>Wordpress</span></li>					 -->
					</ul>	
					<div class="clearfix"> </div>	
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project1.jpg' %>" class="swipebox" title="">
											<img src="<%= asset_path 'project1.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>Portico-admin application which manages the all the clients information.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="<%= asset_path 'certi1.jpg' %>" class="swipebox" title="">
											<img src="<%= asset_path 'certi1.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Certificate</span></h3>
												<p>JavaScript Certification course by Udemy.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project3.png' %>" class="swipebox" title="">
											<img src="<%= asset_path 'project3.png' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
													<p>StoolDuel which is a web application and api for gaming zone.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'certi2.jpg' %>" class="swipebox" title="">
											<img src="<%= asset_path 'certi2.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Certificate</span></h3>
												<p>HTML and CSS certification online by Udemy</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project2.png' %>" class="swipebox" title="">
											<img src="<%= asset_path 'project2.png' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
											<p>Aplus-shipping Management which manages the all the ecommerce orders for a stackholder at one place.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project4.png' %>" class="swipebox" title="">
											<img src="<%= asset_path 'project4.png' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>A service provider project which provide different services to clients.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project1.jpg' %>" class="swipebox" title="Portico-admin application which manages the all the clients information.">
											<img src="<%= asset_path 'project1.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>Portico-admin application which manages the all the clients information.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project2.png' %>" class="swipebox" title="Aplus-shipping Management which manages the all the ecommerce orders for a stackholder at one place.">
											<img src="<%= asset_path 'project2.png' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>Aplus-shipping Management which manages the all the ecommerce orders for a stackholder at one place.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project3.png' %>" class="swipebox" title="StoolDuel which is a web application and api for gaming zone.">
											<img src="<%= asset_path 'project3.png' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>StoolDuel which is a web application and api for gaming zone.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'project4.png' %>" class="swipebox" title=">A service provider project which provide different services to clients.">
											<img src="<%= asset_path 'project4.png' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>A service provider project which provide different services to clients.</p>
											</div>
										</a>	
									</div>
								</div>								
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'certi1.jpg' %>" class="swipebox" title="JavaScript Certification course by Udemy.">
											<img src="<%= asset_path 'certi1.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Certificate</span></h3>
												<p>JavaScript Certification course by Udemy.</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%= asset_path 'certi2.jpg' %>" class="swipebox" title="HTML and CSS certification online by Udemy">
											<img src="<%= asset_path 'certi2.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Certificate</span></h3>
												<p>HTML and CSS certification online by Udemy</p>
											</div>
										</a>	
									</div>
								</div>
<!-- 								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="<%#= asset_path 'g9.jpg' %>" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="<%#= asset_path 'g9.jpg' %>" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>Sarah likes to watch clouds. She's quite depressed.</p>
											</div>
										</a>	
									</div>
								</div> -->
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="../assets/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#horizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion           
			width: 'auto', //auto or any width like 600px
			fit: true   // 100% fit in a container
		});
	});		
</script>
<!--//ResponsiveTabs-->
<!-- swipe box js -->
<script src="../assets/jquery.swipebox.min.js"></script> 
	<script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
</script>